html{
  font-size: 18px;
  font-family: helvetica;
}
body{

}

/*Glasses Banner*/
.cover{
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30rem;
}

/*Container rules*/
.container{
  max-width: 960px;
  /*Changing the margin to 0 auto; centers the container on the page*/
  margin: 0 auto;
}

/*Navigation bar*/

.banner{
  display: flex;
  background-color: cadetblue;
  color: white;
  align-items: center;
  height: 3rem;
  top: 1rem;
  position: relative;
  justify-content: space-between;
  font-size: 1rem;
}

/*Nav bar - left side*/

.image-head{
  padding-left: 2rem;
  padding-top: 0.75rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.image-head img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  padding-bottom: 0.75rem;
}
.image-head p{
  margin-top: 1rem;
  margin-bottom: 2rem;
}
/*Nav bar- right side*/
.navigation{
  margin-right: 1rem;
}
.navigation span{
  margin: 1rem;
}

/*Don't Just Look block*/
.dont-look{
  height: 5rem;
  background-color: white;
  width: 34rem;
  /*Margin top right bottom left;
  The negative value for right margin is what takes it over the container edge*/
  margin: 10rem -2rem 0 auto;
  justify-content: flex-end;
}
.dont-look h2{
  color: black;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

/*Main container section*/
.main-selection .container{
  margin-top: 3rem 0;
  align-self: center;
}
.main-selection{
  display: flex;
}

.services{
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
}
.service{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem auto;
  flex-wrap: wrap;
}
.exam p{
  margin-top: 0.5rem;
}
.fittings p{
  margin-top: 1.75rem;
}
.delivery p{
  margin-top: 1.5rem;
}
.exam .image img{
  width: 3.5rem;
}
.fittings .image img{
  width: 5rem;
}
.delivery .image img{
  width: 5rem;
}

/*About US: Philosophy & Appointments*/
.about-us{
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  max-width: 960px;
}
.title{
  width: 35%;
  margin-right: 5%;
  align-items: center;
}
.title h4{
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  max-width: 10rem;
  color: white;
}
.title p{
  margin-top: 1rem;
}

/*Footer*/
.footer{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: azure;
  padding: 4rem;
  max-width: 960px;
}
footer img{
  height: 1.5rem;
  margin-right: 1rem;
  display: inline-block;
}
